.showBoard-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showBoard-board {
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagination {
    margin-top: 30px;
}

.articleDetail-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.articleDetail-authorInfo {
    width: 300px;
    max-height: 350px; 
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.articleDetail-article {
    width: 70%;
    margin-top: 30px;
    margin-right: 30px;
    height: 100vh;
}

.articleDetail-infoDescription {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -20px;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid grey; 
}

.articleDetail-infoDescription > div {
    width: 50%;
    height: 100px;
    font-size: 20px;
    text-align: center;
}